<form class="borderedZone">
  <div class="loginZone" *ngIf="!isLoggedIn()">
    <mat-form-field  style="width: 100%;">
      <mat-label>Nom d'usager</mat-label>
      <input matInput type="text" [(ngModel)]="account.username" name="username"/>
    </mat-form-field>
  </div>
  <div class="loginZone" *ngIf="isLoggedIn()">
    <div style="padding-top: 24px;">Bonjour <b>{{account.username}}!</b></div>
  </div>
  <div *ngIf="!isLoggedIn()">
    <button mat-raised-button color="primary" (click)="register()">Enregistrer</button>
    <button mat-raised-button color="accent" (click)="login()">Login</button>
  </div>
  <div *ngIf="isLoggedIn()">
    <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  </div>
</form>

<button mat-raised-button color="accent" (click)="publicCall()">Test Publique</button>
<button mat-raised-button color="accent" (click)="privateCall()">Test Privé</button>
