<form class="borderedZone">
  <div *ngIf="!isLoggedIn()">
    <div class="withMargin">
      <input type="text" [(ngModel)]="account.username" name="username"/>
    </div>
    <button (click)="register()">Enregistrer</button>
    <button (click)="login()">Login</button>
  </div>
  <div *ngIf="isLoggedIn()">
    <div class="withMargin">
      Bonjour <b>{{account.username}}!</b>
    </div>
    <button (click)="logout()">Logout</button>
  </div>
</form>

<div class="withMargin">
  <button (click)="publicCall()">Test Publique</button>
  <button (click)="privateCall()">Test Privé</button>
</div>
<div style="padding-left: 12px;">
  Résultat: {{result}}
</div>

